<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--加载资源文件-->
    <properties resource="jdbc.properties"></properties>

    <typeAliases>
        <package name="domain"/>
    </typeAliases>

    <!--environments配置了数据库连接，配置了driver、url、username、password属性-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC">
                <property name="" value="" />
            </transactionManager>
            <dataSource type="UNPOOLED">
                <property name="driver" value="${jdbc.driver}" />
                <property name="url" value="${jdbc.url}" />
                <property name="username" value="${jdbc.username}" />
                <property name="password" value="${jdbc.password}" />
            </dataSource>
        </environment>
    </environments>

    <!--配置一个SQL语句和映射的配置文件-->
    <mappers>
        <package name="mapper"/>
    </mappers>

</configuration>